Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

MemoryCaptures/
Recordings/

.DS_Store
Thumbs.db
*.csproj
*.unityproj
*.sln
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db